h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

p {
    font-family: 'Old Standard TT', serif;
}

#generateChord {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

nav {
    width: 40%;
    margin: 0 auto;
}

ul#qualitynav, #qualitynav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 32px;
}
    
#qualitynav li {
    float: left;
    width: 150px;
    position: relative;
    background-color: #ffffff;
}

#qualitynav li a {
    display: block;
    width: 150px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#qualitynav li a:hover {
/* color:#333333; */
}

#qualitynav li ul{
    display: none;
    position: absolute;
    left: 0;
}
    
#qualitynav li:hover ul {
    display: block;
}

#answer-box {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}